<p id="notice"><%= notice %></p>

<h1>Progresses</h1>

<table>
  <thead>
    <tr>
      <th>StartDate</th>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
   <% @progresses.each do |progress| %>
      <tr>
        <td><%= progress.start_date %></td>
        <td><%= progress.amount %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新規作成', new_team_progress_path(params[:team_id]) %>

<%= high_chart("some_id", @graph) %>
