<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>
<h1> 進捗どうですか？ </h1>
<%= form_tag("/teams/#{params[:team_id]}/progresses", method: 'post') do %>
    <%= label_tag '成果' %> <%= text_field_tag 'progress[amount]' %>
    <%= label_tag 'トピック' %> <%= text_field_tag 'topic[content]' %>
    <%= submit_tag "作成" %>
<% end %>
