<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @progress.amount %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @progress.start_date %>
</p>

<%= link_to 'Edit', edit_progress_path(@progress) %> |
<%= link_to 'Back', progresses_path %>
